.sidebar{
     position: fixed;
     left: 0;
     bottom: 0;
     top:55px;
     width: 80px;
     z-index: 200;
     background-color: white;

}

.sidebar-link{
    height: 75px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}

.sidebar-link:hover{
    background-color: rgb(232, 232, 232);
}
 